* {
  margin: 0;
  padding: 0;
}

body {
    /*background-color: black;*/
    text-align: center;
    font-family: "Calibri Light";
}

header {
    height: 70px;
    background: red;
}

main {
    display: flex;
    height: calc(100vh - 120px);
}

model-viewer {
    width: 60%;
    min-height: 100%;
}

aside {
    background: blue;
    width: 40%;
}

footer {
    height: 50px;
    background: green;
}

/*HOTSPOT*/
.hotspot{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
    pointer-events: none;
  }

  .hotspot[slot="hotspot-hand"]{
    --min-hotspot-opacity: 0;
    background-color: red;
  }

  .hotspot[slot="hotspot-foot"]:not([data-visible]) {
    background-color: transparent;
    border: 3px solid blue;
  }

  .annotation{
    background-color: #888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
  }
  /* This keeps child nodes hidden while the element loads */
  :not(:defined) > * {
    display: none;
  }